{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
	<form action="" method="post" class="card px-4 pt-3 pb-2 w-50 mx-auto" novalidate>
		<h3 class="text-center mb-3"><i class="fa-solid fa-laptop"></i> TechnoMark</h3>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Login" class="btn btn-primary col-5 mx-auto mt-4">
	<p class="text-center mt-5">Forgot password? <a href="{% url 'accounts:reset_password' %}">Reset password</a></p>
	</form>
{% endblock %}