{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}
	{% if validlink %}
		<form action="" method="post" class="card px-4 py-5 w-50 mx-auto">
		<h3 class="text-center mb-3"><i class="fa-solid fa-laptop"></i> TechnoMark</h3>
		{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" value="Change" class="btn btn-outline-primary mx-auto col-3">
	</form>
	{% else %}
		<p class="mx-2 alert alert-warning">This link is not valid. Please try again.</p>
	{% endif %}
{% endblock %}