{% extends 'base.html' %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block title %}{% translate 'Reset Password' %}{% endblock %}


{% block content %}
	<form action="" method="post" class="card px-4 py-5 w-50 mx-auto">
		<h3 class="text-center mb-3">
			<img src="/static/img/laptop.png" width="55px" height="50px" alt="icon"> {% translate 'TechnoMark' %}
		</h3>
		{% csrf_token %}
		<br>
		{{ form|crispy }}
		<br>
		<input type="submit" value="Send" class="btn btn-outline-primary mx-auto col-3">
	</form>

{% endblock %}