{% extends 'base.html' %}

{% load static %}

{% block title %}Profile Page{% endblock %}

{% block content %}
	<div class="row mx-2">

		<div class="col-md-4">
			<div class="card">
				<div class="card-header mt-2">
					<h4 class="text-center">{{ customer }}</h4>
				</div>
				<div class="card-body text-center">
					<img src="{{ image.url }}" class="img-fluid w-50 rounded-circle">
					<hr>
				</div>
				<a class="btn btn-outline-danger w-25 mx-auto" href="{% url 'accounts:user_profile_clear_image' %}">clear</a>
				<form action="" method="post" class="px-4 py-3" enctype='multipart/form-data' novalidate>
					{% csrf_token %}
					{{ form.as_p }}
					<div class="text-center">
						<input type="submit" value="Update" class="btn btn-primary col-5 mt-3">
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-8">

			<div class="card mb-4">
				<div class="card-header mt-2">


					<h4 class="text-center">
						<img src="/media/default/laptop.png" width="45px" height="40px" alt="icon"> New Orders
					</h4>
				</div>
				<div class="card-body text-center">

				</div>
			</div>

			<div class="card mb-4">
				<div class="card-header mt-2">
					<h4 class="text-center">
						<img src="/media/default/laptop.png" width="45px" height="40px" alt="icon"> Old Orders
					</h4>
				</div>
				<div class="card-body text-center">
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-header mt-2">
					<h4 class="text-center">
						<img src="/media/default/laptop.png" width="45px" height="40px" alt="icon"> Addresses
					</h4>
				</div>
				<div class="card-body text-center">
					{% if addresses %}
						{% for address in addresses %}
							<p>{{ address }} - {{ address.postal_code }}</p>
						{% endfor %}
					{% endif %}
					<a href="#" class="btn btn-primary col-2">Add</a>
					{#					<a href="#" class="btn btn-danger col-2">Remove</a>#}
				</div>
			</div>

		</div>

	</div>
{% endblock %}