{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% translate 'Profile Page' %}{% endblock %}

{% block content %}
	<div class="row mx-2">

		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h4 class="text-center mt-2">{{ customer }}</h4>
				</div>
				<div class="card-body text-center">
					<img src="{{ customer.image.url }}" class="img-fluid w-50 rounded-circle">
					<br><br>
				</div>

				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-danger w-25 mx-auto" data-bs-toggle="modal"
								data-bs-target="#clear-image">{% translate 'Clear' %}
				</button>

				<!-- Modal -->
				<div class="modal fade" id="clear-image" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="clear-image-label">{% translate 'Clear Image' %}</h1>
								<button type="button" class="btn-close btn-danger rounded-circle" data-bs-dismiss="modal"></button>
							</div>
							<div class="modal-body">
								<p>{% translate 'Do you want to clear your image?' %}</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Close' %}</button>
								<a href="{% url 'accounts:user_profile_clear_image' %}" type="button"
									 class="btn btn-danger">{% translate 'Clear' %}</a>
							</div>
						</div>
					</div>
				</div>

				<br>

				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading-profile">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapse-profile"
											aria-expanded="true" aria-controls="collapse-profile">
								{% translate 'Profile Info' %}
							</button>
						</h2>
						<div id="collapse-profile" class="accordion-collapse collapse show" aria-labelledby="heading-profile"
								 data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<form action="" method="post" class="px-4 py-3" enctype='multipart/form-data' novalidate>
									{% csrf_token %}
									{{ form.as_p }}
									<div class="text-center">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary col-5 mt-3" data-bs-toggle="modal"
														data-bs-target="#update-profile">{% translate 'Update' %}
										</button>
									</div>
									<!-- Modal -->
									<div class="modal fade" id="update-profile" tabindex="-1">
										<div class="modal-dialog bg-info">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="clear-image-label">{% translate 'Update Profile' %}</h1>
													<button type="button" class="btn-close btn-danger rounded-circle"
																	data-bs-dismiss="modal"></button>
												</div>
												<div class="modal-body">
													<p>{% translate 'Do you want to update your profile?' %}</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">{% translate 'Close' %}</button>
													<button type="submit" class="btn btn-primary">{% translate 'Save Changes' %}</button>
												</div>
											</div>
										</div>
									</div>


								</form>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

		<div class="col-md-8">

			<!-- Accordion -->
			<div class="accordion " id="accordionPanelsStayOpenExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="panelsStayOpen-headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
										aria-controls="panelsStayOpen-collapseOne">
							<span class="mt-2"><img src="/static/img/laptop.png" width="45px" height="40px" alt="icon">
								<span class="ms-2 fw-bold fs-4">{% translate 'Unpaid Orders' %}</span>
							</span>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
							 aria-labelledby="panelsStayOpen-headingOne">
						<div class="accordion-body">

							{% for order in unpaid_orders %}
								<div class="row my-2">
									<div class="col-md-9">
										<p class="my-2">Order: {{ order.id }} - {{ order.created|date }} - {% trans order.status %}</p>
									</div>
									<div class="col-md-3 text-end">


										<!-- Button trigger modal -->
										<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
														data-bs-target="#delete-order">{% translate 'Delete' %}
										</button>

										<!-- Modal -->
										<div class="modal fade" id="delete-order" tabindex="-1">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="delete-order-label">{% translate 'Delete Order' %}</h1>
														<button type="button" class="btn-close btn-danger rounded-circle"
																		data-bs-dismiss="modal"></button>
													</div>
													<div class="modal-body">
														<p class="text-start">{% translate 'Do you want to delete your order? Are you sure?' %}</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">{% translate 'Close' %}</button>
														<a href="{% url 'orders:order_delete' order.id %}" type="button"
															 class="btn btn-danger">{% translate 'Delete' %}</a>
													</div>
												</div>
											</div>
										</div>


										<a href="{% url 'orders:order_details' order.id %}"
											 class="mx-1 btn btn-outline-secondary">{% translate 'Details' %}</a>
									</div>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>

				<br>


				<div class="accordion-item">
					<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
										aria-controls="panelsStayOpen-collapseTwo">
							<span class="mt-2"><img src="/static/img/laptop.png" width="45px" height="40px" alt="icon">
								<span class="ms-2 fw-bold fs-4">{% translate 'Paid Orders' %}</span>
							</span>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
							 aria-labelledby="panelsStayOpen-headingTwo">
						<div class="accordion-body">

							{% for order in paid_orders %}
								<div class="row my-2">
									<div class="col-md-10">
										<p class="my-2">Order: {{ order.id }} - {{ order.created|date }} - {% trans order.status %}</p>
									</div>
									<div class="col-md-2 text-end">

										<a href="{% url 'orders:order_details' order.id %}"
											 class="mx-1 btn btn-outline-secondary">{% translate 'Details' %}</a>
									</div>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>

				<br>

				<div class="accordion-item">
					<h2 class="accordion-header" id="panelsStayOpen-headingThree">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
										aria-controls="panelsStayOpen-collapseThree">
							<span class="mt-2"><img src="/static/img/laptop.png" width="45px" height="40px" alt="icon">
								<span class="ms-2 fw-bold fs-4">{% translate 'Addresses' %}</span>
							</span>
						</button>
					</h2>
					<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
							 aria-labelledby="panelsStayOpen-headingThree">
						<div class="accordion-body">

							{% if addresses %}
								{% for address in addresses %}
									<div class="row mb-2">
										<p class="col-6">{{ address }}</p>
										<div class="col-6 text-end">
											{#									<a href="{% url 'customers:address_delete' address.id %}"#}
											{#										 class="py-1 mx-1 btn btn-outline-danger">{% translate 'Delete' %}</a>#}


											<button type="button" class="py-1 mx-1 btn btn-outline-danger" data-bs-toggle="modal"
															data-bs-target="#delete-address">{% translate 'Delete' %}
											</button>

											<div class="modal fade" id="delete-address" tabindex="-1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5"
																	id="delete-address-label">{% translate 'Delete Address' %}</h1>
															<button type="button" class="btn-close btn-danger rounded-circle"
																			data-bs-dismiss="modal"></button>
														</div>
														<div class="modal-body">
															<p class="text-start">{% translate 'Do you want to delete your address?' %}</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																			data-bs-dismiss="modal">{% translate 'Close' %}</button>
															<a href="{% url 'customers:address_delete' address.id %}"
																 class="btn btn-danger">{% translate 'Delete' %}</a>
														</div>
													</div>

												</div>
											</div>


											{#									<a href="{% url 'customers:address_update' address.id %}"#}
											{#										 class="py-1 mx-1 btn btn-outline-info">{% translate 'Update' %}</a>#}


											<button type="button" class="py-1 mx-1 btn btn-outline-info" data-bs-toggle="modal"
															data-bs-target="#update-address">{% translate 'Update' %}
											</button>

											<div class="modal fade" id="update-address" tabindex="-1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5"
																	id="update-address-label">{% translate 'Update Address' %}</h1>
															<button type="button" class="btn-close btn-danger rounded-circle"
																			data-bs-dismiss="modal"></button>
														</div>
														<div class="modal-body">
															<p class="text-start">{% translate 'Do you want to Update your address?' %}</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																			data-bs-dismiss="modal">{% translate 'Close' %}</button>
															<a href="{% url 'customers:address_update' address.id %}"
																 class="btn btn-primary">{% translate 'Update' %}</a>
														</div>
													</div>

												</div>
											</div>


										</div>
									</div>

								{% endfor %}
							{% endif %}


							<div class="text-center">
								<a href="{% url 'customers:address_create' %}"
									 class="btn btn-primary col-2">{% translate 'Add' %}</a>
							</div>

						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
{% endblock %}

