{% extends 'base.html' %}

{% block title %}Bucket{% endblock %}

{% block content %}


	<table class="table table-light">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Size</th>
			<th scope="col">Download</th>
			<th scope="col">Delete</th>
		</tr>
		</thead>
		<tbody>
		{% for obj in objects %}
			<tr>
				<th scope="row">{{ forloop.counter }}</th>
				<td>{{ obj.Key }}</td>
				<td>{{ obj.Size|filesizeformat }}</td>
				<td><a href="{% url 'product:download_obj_bucket' obj.Key %}">download</a></td>
				<td><a href="{% url 'product:delete_obj_bucket' obj.Key %}">delete</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


	<form action="" method="post" class="input-group my-2" enctype=multipart/form-data>
		{% csrf_token %}
		{{ form }}
		<button type="submit" class="btn btn-primary px-3">Upload</button>
	</form>

{% endblock %}

