{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %} {% translate 'Order Details' %} {% endblock %}

{% block content %}
    <div class="container-fluid card p-5">

        <h3 class="text-center">{% translate 'Checkout' %}</h3>
        <p>Total: {{ order.get_total_price }}</p>
        <form action="{% url 'orders:order_details' order.id %}">
            {{ form }}
            <input type="submit" value="Choose" class="btn btn-primary">
        </form>
    </div>

{% endblock %}