{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Error 404' %}{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
	<div class="text-center">
		<h1 class="display-1 fw-bold">404</h1>
		<p class="fs-3"><span class="text-danger">{% translate 'Opps' %}!</span> {% translate 'Page not found.' %}</p>
		<p class="lead">
			{% translate 'The page you’re looking for does not exist.' %}
		</p>
		<a href="{% url 'product:home' %}" class="btn btn-primary">{% translate 'Go Home' %}</a>
	</div>
</div>
{% endblock %}


